.grid {
    margin-top: 3em;
    display: grid;
    grid-auto-columns: repeat(2, 50%);
    gap: 1em;
}

.box {
    background-color: #161616;
    border-radius: 1.5em;
    border: 2px solid #3a3a3a;
    padding: 1.5em;
}